.game {
    height: 100vh;
    background-image: url("https://py.dokemon.cn/static/img/background.png");
    text-align: center;
    padding: 40px;
    width: 100%;
    overflow: hidden;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.create {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.main {
    max-width: 550px;
    margin: 20px auto;
    background-color: rgba(240, 248, 255, 0.81);
    border-radius: 20px;
    min-height: 350px;
    position: relative;
}

.buttonImg {
    height: 64px;
    background-color: rgba(240, 248, 255, 0.68);
    border-radius: 12px;
    cursor: pointer;
    margin: 2px;
}

.buttonImg:hover {
    background-color: rgba(240, 248, 255, 0.68);
}

.buttonImg:active {
    background-color: rgba(234, 229, 232, 0.51);
}

.chat {
    left: 0;
    right: 0;
    height: 25px;
    background-color: rgba(191, 253, 243, 0.34);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 3px;
}

.link {
    text-decoration: underline;
    color: rgba(255, 153, 0, 0.82);
    margin: 3px;
    cursor: pointer;
    display: inline;
}

.npc {
    position: absolute;
    background-color: antiquewhite;
    width: 100%;
    bottom: 80px;
    height: 110px;
    padding: 15px;
}

.npc .right {
    float: right;
    margin-top: -60px;
    text-align: center;
    margin-right: 10px;
}

.npc img {
    height: 100px;
    display: block;
    margin: 10px auto;
    border-radius: 20px;
}

.npc span {
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.49);
    color: white;
}

.npc p {
    margin-top: 10px;
}

.mainTop {
    background-color: rgba(0, 0, 0, 0.65);
    width: 400px;
    margin: 0 auto 10px auto;
    color: white;
    border-radius: 0 0 15px 15px;
    padding: 2px;
}

.bottom_bar {
    border-radius: 15px 15px 0 0;
    padding: 8px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(46, 49, 46, 0.55);
    width: 100%;
}
