.game {
    height: 100vh;
    background-image: url("http://127.0.0.1:8000/static/img/background.png");
    text-align: center;
    padding: 40px;
    width: 100%;
    overflow: hidden;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info {

}

.main {
    width: 550px;
    margin: 30px auto;
    background-color: rgba(240, 248, 255, 0.81);
    border-radius: 20px;
    min-height: 350px;
    position: relative;
}

.buttonImg {
    height: 64px;
    background-color: rgba(240, 248, 255, 0.68);
    border-radius: 12px;
    cursor: pointer;
    margin: 2px;
}

.buttonImg:hover {
    background-color: rgba(240, 248, 255, 0.68);
}

.buttonImg:active {
    background-color: rgba(234, 229, 232, 0.51);
}

.chat {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20px auto;
    height: 100px;
    background-color: rgba(191, 253, 243, 0.34);
    border-radius: 5px;
    width: 80%;
}

.link {
    text-decoration: underline;
    color: rgba(255, 153, 0, 0.82);
    cursor: pointer;
    display: inline;
}

.npc {
    position: absolute;
    background-color: antiquewhite;
    width: 100%;
    bottom: 50px;
    height: 100px;
}

.npc .right {
    float: right;
    margin-top: -50px;
    text-align: center;
    margin-right: 10px;
}

.npc img {
    height: 100px;
    display: block;
    margin: 5px auto;
}

.npc span {
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.49);
    color: white;
}

.npc p {
    margin-top: 20px;
}
.depiction{
    background-color: rgba(0, 0, 0, 0.65);
    width: 400px;
    margin: 0 auto;
    color: white;
    border-radius: 0 0 15px 15px;
    padding: 2px;
}