@media (max-width: 640px) {
    .create {
        width: 300px;
    }

    .main {
        min-height: 380px;
    }

    .mainTop {
        font-size: 14px;
        width: 80%;
    }

    .game {
        padding: 20px;
    }

    .bottomBr {
        display: block;
    }

    .bottomBr img {
        margin: 3px 10px;
        height: 60px;
    }

    .npc {
        padding: 0;
    }
}